#scene{
    position: absolute;
    /* width: 100vw; */
    height: 100vh;
    background-color: black;
    display:flex;
    background-size:100% 100%;

}
.bg{
    width:150vw;
    margin-left:-25vw;
    height:120vh;
    margin-top:-10vh;
}
body{
    overflow: none;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
.noScene{
    position: absolute;
    top:0;
    left:0;
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
}
.message {
    height: 120px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: center;
  }
.message div{
    padding:20px;
    font-size: 25px;
    font-style: oblique;
    font-weight: 600;
    text-align: center;
    align-items: center;
}
.fill{
    /* height: 100vh; */
    transform:scale(1);
    bottom: 0;
}
.upHalf{
    bottom: 50%;
}
.up1{
    bottom: 100%;
}
.up2{
    bottom:150%;
}
.up3{
    bottom:200%;
}
.layer{
    width: 150vw;
}

.clouds{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
}

.cloud{
    display: inline-block;
    height: 100vh;
}


@keyframes wind {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
  }
